:root {
  --bg-color: #fdbb2e;
  --hover-color: #212529;
  --text-color: #212529;
  --text-primary-color: #dc9d13;
}
[data-theme="green"] {
  --bg-color: #588a03;
  --text-color: #212529;
  --hover-color: #212529;
  --text-primary-color: #99c945;
}

[data-theme="dark"] {
  --bg-color: #383935;
  --text-color: #212529;
  --hover-color: #212529;
  --text-primary-color: #6b705b;
}
