:root {
  --bg-color: #fdbb2e;
  --hover-color: #212529;
  --bg-primary-color: #212529;

  --text-color: #212529;
  --text-primary-color: #fdbb2e;
  --border-color: #fdbb2e;
}
[data-theme="green"] {
  --bg-color: #588a03;
  --text-color: #212529;
  --bg-primary-color: #212529;
  --hover-color: #212529;
  --text-primary-color: #588a03;
  --border-color: #588a03;
}

[data-theme="dark"] {
  --bg-color: #383935;
  --text-color: #212529;
  --bg-primary-color: #212529;

  --hover-color: #212529;
  --text-primary-color: #383935;
  --border-color: #383935;
}
